*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}


body{
    
    font-family: fantasy;
    overflow-x: hidden;
    font-family: 'Poppins',sans-serif;
}
nav{
    
    background-color: black;
    color:white;
    
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: all ease 0.5s;
    z-index: 99999;
}
nav p {   
    display: inline-flex;
    
    color:white;
    font-size: 35px;
    padding:5px;
    margin-left: 30px;
    letter-spacing: 15px;  
}
nav ul{
    
    list-style: none;  
}
nav ul li {
    display: inline-block;
    margin:0 15px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    
}
nav ul li a:hover{
    color: violet;
}
.txtcall{
    
    background-color: white;
   
}
.txtcall ul{
    list-style: none;
    
}

.txtcall ul li {
    
    margin:50px;
    text-align: center;
}


.txtmsg{    
    
    background-color: white;
}
.txtmsg ul{
    margin-right: 60px;
    list-style: none;
}
.txtmsg ul li button{
    
    padding: 5px;
    font-size: 17px;
    background-color: #d4c995;
    border-radius: 3px;
    margin-bottom: 5px;
}
.txtmsg ul li input{
    width: 600px;
    padding: 5px;
    font-size: 15px;
}
.txtmsg ul li textarea{
    width: 600px;
    padding: 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif
}

.center{
    margin:200px 500px 0px 500px;
    display: inline-flex;
    
}
footer{
    background-color: black;
    color:white;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: all ease 0.5s;
    z-index: 99999;
    position: fixed;
  
}
footer p{
    display: inline-flex;  
    color:white; 
}
footer ul {
    
    list-style: none;
    display: inline-flex;
    margin-left:1111px;
    
}
footer ul li { 
   
    margin: 0px 15px;
    font-size: 30px;
}
footer ul li a{
    color:#fff;
   
}